<footer class="bg-dark text-white py-4">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <p class="lead mb-0">
          Made with <span class="text-danger">&hearts;</span> by
          <a href="https://github.com/satorki" class="text-white">Satorki</a>
        </p>
      </div>
      <div class="col-md-6 text-md-right">
        <a href="https://github.com/satorki" class="text-white">
          <i class="fab fa-github"></i>
        </a>
        <a href="https://twitter.com/satorki" class="text-white ml-4">
          <i class="fab fa-twitter"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
