<!DOCTYPE html>
<html lang="en">
  <%- include("head"); %>
  <body class="container">
    <%- include("header"); %>
    <main class="jumbotron">
      <h1 class="display-4">Welcome to the Odin Blog API</h1>
      <p class="lead">This is an API for a blog.</p>
      <hr class="my-4">
      <p>
      </p>
    </main>
    <footer><%- include("footer"); %></footer>
  </body>
</html>

