<!DOCTYPE html>
<html lang="en">
  <%- include("head"); %>
  <body class="container">
    <%- include("header"); %>
    <main class="jumbotron">
      <h1 class="display-4">Welcome to Odin Blog API</h1>
      <p class="lead">Sign up for an account.</p>
      <hr class="my-4" />
      <div class="d-flex justify-content-center">
        <div class="col-md-6">
          <form class="form-signin" action="/user/sign-up" method="POST">
            <h2 class="form-signin-heading">Please sign up</h2>
            <label for="userName" class="sr-only">userName</label>
            <input
              type="userName"
              id="userName"
              name="userName"
              class="form-control"
              placeholder="userName"
              required
              autofocus
            />
            <label for="adminCode" class="sr-only">Admin Code</label>
            <input
              type="adminCode"
              id="adminCode"
              name="adminCode"
              class="form-control"
              placeholder="Admin Code"
            />
            <label for="password" class="sr-only">Password</label>
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              placeholder="Password"
              required
            />
            <button class="btn btn-lg btn-primary btn-block" type="submit">
              Sign up
            </button>
          </form>
        </div>
      </div>
    </main>
    <footer><%- include("footer"); %></footer>
  </body>
</html>


</html>

